#product-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px;
  border: 1px solid red;
  padding: 5px;
}
.product-card {
  margin: 10px 15px;
  width: calc(33% - 50px);
  border: 1px solid black;
  box-shadow: 2px 2px 3px grey;
  padding: 8px;
  text-align: center;
}
.product-image {
  width: 250px;
}
